<bdi-tab-view (onTabChange)="tabChange($event)">
    <bdi-tab id="dettaglio">
        <div *bdi-tab-title>Dettaglio movimento</div>
        <div *bdi-tab-content>
            <!-- <gepa-dettaglio-movimento-editor [dettaglioForm]="dettaglio" [id]="id" [action]="action" [isSubmitted]="isSubmitted" index="tab"></gepa-dettaglio-movimento-editor>
            <div class="row">
                <div class="col-12 text-left">
                    <button *ngIf="action!='detail'" type="button" class="btn btn-sm btn-secondary" routerLink="/movimenti/gestione-movimenti"><i class="fas fa-times"></i> Annulla</button>
                </div>
            </div> -->
        </div>
      
    </bdi-tab>
    <bdi-tab id="ordinante">
        <div *bdi-tab-title>Ordinante</div>
        <div *bdi-tab-content>
            <!-- <gepa-dettaglio-movimento-editor [dettaglioForm]="dettaglio" [id]="id" [action]="action" [isSubmitted]="isSubmitted" index="tab"></gepa-dettaglio-movimento-editor>
            <div class="row">
                <div class="col-12 text-left">
                    <button *ngIf="action!='detail'" type="button" class="btn btn-sm btn-secondary" routerLink="/movimenti/gestione-movimenti"><i class="fas fa-times"></i> Annulla</button>
                </div>
            </div> -->
        </div>
      
    </bdi-tab>
    <!-- <bdi-tab id="ordinante">
        <div *bdi-tab-title>Ordinante</div>
        
    </bdi-tab>
    <bdi-tab id="intermediariOrdinante" >
        <div *bdi-tab-title>Intermediari dell'ordinante</div>
       
    </bdi-tab>
    <bdi-tab id="intermediariBeneficiante" >
        <div *bdi-tab-title>Intermediari del beneficiario</div>
       
    </bdi-tab>
    <bdi-tab id="beneficiario">
        <div *bdi-tab-title>Beneficiario</div>
        
    </bdi-tab>
    <bdi-tab id="note">
        <div *bdi-tab-title>Note e informazioni</div>
        
    </bdi-tab>
    <bdi-tab id="riepilogo">
        <div *bdi-tab-title>Riepilogo</div>
       
    </bdi-tab> -->
</bdi-tab-view>

<ng-template #myModal class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <h4 class="modal-title">Avviso!</h4>
       
    </div>
    <div class="modal-body">
        <p>{{modalText}}</p>
    </div>
    <div class="modal-footer">
        <button *ngIf="!isWarning" type="button" class="btn btn-primary" (click)="close()">OK</button>
        <button *ngIf="isWarning" type="button" class="btn btn-primary" (click)="cancel()">No</button>
        <button *ngIf="isWarning" type="button" class="btn btn-primary" (click)="confirm()">OK</button>
    </div>
</ng-template>
