.card{
    align-items: left;
    position: relative;
}
.container {
    justify-content: left ;
    margin: 0;
    padding:0;
  }

div{
    overflow: hidden;
    flex-wrap: wrap;
        
}

div.legend{
      display: flex;
  }

   