<div class="animated fadeIn">
    <div class="card card-accent-primary shadow">
        <div class="card-header">
            <strong><i class="fa fa-users"></i> Anagrafica Eccezioni Transcodifica Dettaglio </strong>
        </div>

        <div class="card-body">

            <ng-container *ngIf="!(showSpinner$ | async); else waiting">
                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    {{ messageError }}
                </div>

                <div class="row mb-2" *ngIf="userIsDet">
                    <div class="col-3">
                        <button class="btn btn-block btn-primary" type="button" (click)="goToInsertEccTranscodingRetail()">Nuova Eccezione Transcodifica Dettaglio</button>
                    </div>
                </div>

                <form [formGroup]="ricercaForm" class="form-horizontal">

                    <div class="form-group row">
                        <label for="nsc" class="col-2 col-form-label">Nsc:</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="nsc" class="form-control" [class.is-invalid]="nsc.invalid && (nsc.dirty || nsc.touched)" formControlName="nsc" maxlength="15"/>
                                <ng-container *ngTemplateOutlet="wildcardTooltip"></ng-container>
                                <div *ngIf="nsc.errors?.wildcard && (nsc.dirty || nsc.touched)" class="invalid-feedback">
                                    Campo non valido per la ricerca con wildcard
                                </div>
                                <div *ngIf="nsc.errors?.pattern && (nsc.dirty || nsc.touched)" class="invalid-feedback">
                                    Campo non valido
                                </div>
                            </div>
                        </div>

                        <label for="countryCode" class="col-2 col-form-label">Country Code:</label>
                        <div class="col-4">
                            <select id="countryCode" class="form-control" [class.is-invalid]="countryCode.invalid && (countryCode.dirty || countryCode.touched)" formControlName="countryCode">
                                <option [ngValue]="null">Tutti</option>
                                <option *ngFor="let t of countryCodeList" [value]="t.codice">{{t.descrizione}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="bic" class="col-2 col-form-label">Bic:</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="bic" class="form-control" [class.is-invalid]="bic.invalid && (bic.dirty || bic.touched)" formControlName="bic"/>
                                <ng-container *ngTemplateOutlet="wildcardTooltip"></ng-container>
                                <div *ngIf="bic.errors?.wildcard && (bic.dirty || bic.touched)" class="invalid-feedback">
                                    Campo non valido per la ricerca con wildcard
                                </div>
                                <div *ngIf="bic.errors?.syntax && (bic.dirty || bic.touched)" class="invalid-feedback">
                                    Campo sintatticamente non valido
                                </div>
                            </div>
                        </div>

                        <label for="descrizione" class="col-2 col-form-label">Descrizione:</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="descrizione" class="form-control" [class.is-invalid]="descrizione.invalid && (descrizione.dirty || descrizione.touched)" formControlName="descrizione" maxlength="4000"/>
                                <ng-container *ngTemplateOutlet="wildcardTooltip"></ng-container>
                                <div *ngIf="descrizione.errors?.wildcard && (descrizione.dirty || descrizione.touched)" class="invalid-feedback">
                                    Campo non valido per la ricerca con wildcard
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <!--Data Inizio Validita-->
                        <div class="col-6">
                            <div class="row"><label class="col-12 col-form-label">Data Inizio Validità:</label></div>
                            <div class="row">
                                <label for="dataInizioValiditaDa" class="col-4 col-form-label text-right">Da:</label>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input id="dataInizioValiditaDa" class="form-control" [class.is-invalid]="dataInizioValiditaDa.invalid && (dataInizioValiditaDa.dirty || dataInizioValiditaDa.touched)" placeholder="yyyy-mm-dd" formControlName="dataInizioValiditaDa"  bdiDatepicker #datepickerDIVda="bdiDatepicker" maxlength="10" style="background-color: #ffffff !important"/>
                                        <div class="input-group-append" (click)="datepickerDIVda.toggle()" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <div  *ngIf="!!dataInizioValiditaDa.value"  class="input-group-append" (click)="reset('dataInizioValiditaDa')" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </div>

                                        <div *ngIf="dataInizioValiditaDa.errors?.dateformat && (dataInizioValiditaDa.dirty || dataInizioValiditaDa.touched)" class="invalid-feedback">
                                            Campo non valido
                                        </div>
                                        <div *ngIf="dataInizioValiditaDa.errors?.daterange && (dataInizioValiditaDa.dirty || dataInizioValiditaDa.touched)" class="invalid-feedback">
                                            Intervallo non valido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <label for="dataInizioValiditaA" class="col-4 col-form-label text-right">A:</label>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input id="dataInizioValiditaA" class="form-control" [class.is-invalid]="dataInizioValiditaA.invalid && (dataInizioValiditaA.dirty || dataInizioValiditaA.touched)" placeholder="yyyy-mm-dd" formControlName="dataInizioValiditaA"  bdiDatepicker #datepickerDIVa="bdiDatepicker" maxlength="10" style="background-color: #ffffff !important"/>
                                        <div class="input-group-append" (click)="datepickerDIVa.toggle()" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <div  *ngIf="!!dataInizioValiditaA.value"  class="input-group-append" (click)="reset('dataInizioValiditaA')" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </div>

                                        <div *ngIf="dataInizioValiditaA.errors?.dateformat && (dataInizioValiditaA.dirty || dataInizioValiditaA.touched)" class="invalid-feedback">
                                            Campo non valido
                                        </div>
                                        <div *ngIf="dataInizioValiditaA.errors?.daterange && (dataInizioValiditaA.dirty || dataInizioValiditaA.touched)" class="invalid-feedback">
                                            Intervallo non valido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Data Fine Validità:-->
                        <div class="col-6">
                            <div class="row"><label class="col-12 col-form-label">Data Fine Validità:</label></div>
                            <div class="row">
                                <label for="dataFineValiditaDa" class="col-4 col-form-label text-right">Da:</label>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input id="dataFineValiditaDa" class="form-control" [class.is-invalid]="dataFineValiditaDa.invalid && (dataFineValiditaDa.dirty || dataFineValiditaDa.touched)" placeholder="yyyy-mm-dd" formControlName="dataFineValiditaDa"  bdiDatepicker #datepickerDFVda="bdiDatepicker" maxlength="10" style="background-color: #ffffff !important"/>
                                        <div class="input-group-append" (click)="datepickerDFVda.toggle()" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <div  *ngIf="!!dataFineValiditaDa.value"  class="input-group-append" (click)="reset('dataFineValiditaDa')" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </div>

                                        <div *ngIf="dataFineValiditaDa.errors?.dateformat && (dataFineValiditaDa.dirty || dataFineValiditaDa.touched)" class="invalid-feedback">
                                            Campo non valido
                                        </div>
                                        <div *ngIf="dataFineValiditaDa.errors?.daterange && (dataFineValiditaDa.dirty || dataFineValiditaDa.touched)" class="invalid-feedback">
                                            Intervallo non valido
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div class="row">
                                <label for="dataFineValiditaA" class="col-4 col-form-label text-right">A:</label>
                                <div class="col-8">
                                    <div class="input-group">
                                        <input id="dataFineValiditaA" class="form-control" [class.is-invalid]="dataFineValiditaA.invalid && (dataFineValiditaA.dirty || dataFineValiditaA.touched)" placeholder="yyyy-mm-dd" formControlName="dataFineValiditaA"  bdiDatepicker #datepickerDFVa="bdiDatepicker" maxlength="10" style="background-color: #ffffff !important"/>
                                        <div class="input-group-append" (click)="datepickerDFVa.toggle()" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                        </div>
                                        <div  *ngIf="!!dataFineValiditaA.value"  class="input-group-append" (click)="reset('dataFineValiditaA')" style="cursor: pointer;">
                                            <span class="input-group-text">
                                                <i class="fas fa-trash-alt"></i>
                                            </span>
                                        </div>

                                        <div *ngIf="dataFineValiditaA.errors?.dateformat && (dataFineValiditaA.dirty || dataFineValiditaA.touched)" class="invalid-feedback">
                                            Campo non valido
                                        </div>
                                        <div *ngIf="dataFineValiditaA.errors?.daterange && (dataFineValiditaA.dirty || dataFineValiditaA.touched)" class="invalid-feedback">
                                            Intervallo non valido
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="utenteInserimento" class="col-2 col-form-label">Utente Inserimento:</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="utenteInserimento" class="form-control" [class.is-invalid]="utenteInserimento.invalid && (utenteInserimento.dirty || utenteInserimento.touched)" formControlName="utenteInserimento" maxlength="4000" [pattern]="'^[a-zA-Z0-9%]+$'"/>
                                <ng-container *ngTemplateOutlet="wildcardTooltip"></ng-container>
                                <div *ngIf="utenteInserimento.errors?.wildcard && (utenteInserimento.dirty || utenteInserimento.touched)" class="invalid-feedback">
                                    Campo non valido per la ricerca con wildcard
                                </div>
                                <div *ngIf="utenteInserimento.errors?.pattern && (utenteInserimento.dirty || utenteInserimento.touched)" class="invalid-feedback">
                                    Campo non valido
                                </div>
                            </div>
                        </div>

                        <label for="utenteApprovatore" class="col-2 col-form-label">Utente Approvatore:</label>
                        <div class="col-4">
                            <div class="input-group">
                                <input id="utenteApprovatore" class="form-control" [class.is-invalid]="utenteApprovatore.invalid && (utenteApprovatore.dirty || utenteApprovatore.touched)" formControlName="utenteApprovatore" maxlength="4000" [pattern]="'^[a-zA-Z0-9%]+$'"/>
                                <ng-container *ngTemplateOutlet="wildcardTooltip"></ng-container>
                                <div *ngIf="utenteApprovatore.errors?.wildcard && (utenteApprovatore.dirty || utenteApprovatore.touched)" class="invalid-feedback">
                                    Campo non valido per la ricerca con wildcard
                                </div>
                                <div *ngIf="utenteApprovatore.errors?.pattern && (utenteApprovatore.dirty || utenteApprovatore.touched)" class="invalid-feedback">
                                    Campo non valido
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row mb-2">
                        <div class="col-2 mx-auto">
                            <button class="btn btn-block btn-primary" type="button" (click)="submit(target, true)">Cerca</button>
                        </div>
                    </div>

                </form>

                <div #target>
                    <app-generic-table *ngIf="showTable" [model]="eccTranscodingRetailModel" (action)="onActionEvent($event)" (colToDisplay)="onColToDisplayEvent($event, this.eccTranscodingRetailService.searchModel)" (paginationChanged)="onPaginationEvent($event, this.eccTranscodingRetailService.searchModel)" (sortChanged)="onSortEvent($event, this.eccTranscodingRetailService.searchModel)" (filterChanged)="onFilterEvent($event, this.eccTranscodingRetailService.searchModel)"></app-generic-table>
                </div>

            </ng-container>
        </div>

        <ng-template #waiting>
            <gepa-spinning-loader></gepa-spinning-loader>
        </ng-template>
    </div>

    <ng-template #wildcardTooltip>
        <div class="input-group-append" bdiTooltip="{{util.getWildcardTooltip()}}" placement="right">
        <span class="input-group-text">
            <i class="fas fa-info-circle"></i>
        </span>
        </div>
    </ng-template>
