<div class="animated fadeIn">
    <div class="card card-accent-primary shadow">
        <div class="card-header">
            <strong><i class="fas fa-edit"></i> Modifica Eccezione Transcodifica Ingrosso </strong>
        </div>
        <div class="card-body">
            <ng-container *ngIf="!(showSpinner$ | async); else waiting">
                <div class="alert alert-warning" role="alert" *ngIf="!isActive">
                    L'eccezione non risulta attiva e non può essere modificata.
                </div>

                <div class="alert alert-danger" role="alert" *ngIf="isError">
                    {{ messageError }}
                </div>

                <div class="alert alert-success" role="alert" *ngIf="isResultOk">
                    Operazione correttamente effettuata.
                </div>

                <form [formGroup]="modificaForm" (ngSubmit)="modifyEccTranscodingIngrosso()" class="form-horizontal" #form="ngForm">

                    <div class="form-group row">
                        <label for="abi" class="col-2 col-form-label">Abi<span>*</span>:</label>
                        <div class="col-3">
                            <div class="input-group">
                                <input id="abi" class="form-control" [class.is-invalid]="abi.invalid && (form.submitted || (abi.dirty || abi.touched))" formControlName="abi" maxlength="5" [pattern]="'^[0-9%]{5}$'" [readOnly]="!checkedabi.value || readonlyForm "/>
                                <div *ngIf="abi.errors?.required && (form.submitted || (abi.dirty || abi.touched))" class="invalid-feedback">
                                    Campo obbligatorio
                                </div>
                                <div *ngIf="abi.errors?.pattern && (form.submitted || (abi.dirty || abi.touched))" class="invalid-feedback">
                                    Campo non valido
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <label for="checkedabi" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkedabi" type="checkbox" formControlName="checkedabi" (click)="manageCheckBox('abi')" [attr.disabled]="(verso.value === tipoVersoEnum.AB)?true:null"/>
                            </label>
                        </div>

                        <label for="cab" class="col-2 col-form-label">Cab<span>*</span>:</label>
                        <div class="col-3">
                            <div class="input-group">
                                <input id="cab" class="form-control" [class.is-invalid]="cab.invalid && (form.submitted || (cab.dirty || cab.touched))" formControlName="cab" maxlength="5" [readOnly]="!checkedcab.value || readonlyForm"/>
                                <div *ngIf="cab.errors?.required && (form.submitted || (cab.dirty || cab.touched))" class="invalid-feedback">
                                    Campo obbligatorio
                                </div>
                                <div *ngIf="cab.errors?.pattern && (form.submitted || (cab.dirty || cab.touched))" class="invalid-feedback">
                                    Campo non valido
                                </div>
                                <div *ngIf="cab.errors?.ruleCab && (form.submitted || (cab.dirty || cab.touched))" class="invalid-feedback">
                                    Il valore del Cab può essere diverso da zero se il verso è AB e il tipoConto è RTGS.
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <label for="checkedcab" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkedcab" type="checkbox" formControlName="checkedcab" (click)="manageCheckBox('cab')" [attr.disabled]="(verso.value === tipoVersoEnum.AB)?true:null"/>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="tipoConto" class="col-2 col-form-label">Tipo Conto<span>*</span>:</label>
                        <div class="col-3">
                            <select *ngIf="checkedtipoConto.value && !readonlyForm; else inputTipo" id="tipoConto" class="form-control" [class.is-invalid]="tipoConto.invalid && (form.submitted || (tipoConto.dirty || tipoConto.touched))" formControlName="tipoConto">
                                <option [ngValue]="null">Seleziona</option>
                                <option *ngFor="let t of tipiConto" [value]="t.codice">{{t.descrizione}}</option>
                            </select>
                            <div *ngIf="tipoConto.errors?.required && (form.submitted || (tipoConto.dirty || tipoConto.touched))" class="invalid-feedback">
                                Campo obbligatorio
                            </div>
                            <ng-template #inputTipo>
                                <input class="form-control" [value]="getTipoValue()" [readOnly]="true"/>
                            </ng-template>
                        </div>
                        <div class="col-1">
                            <label for="checkedtipoConto" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkedtipoConto" type="checkbox" formControlName="checkedtipoConto" (click)="manageCheckBox('tipoConto')" [attr.disabled]="true"/>
                            </label>
                        </div>

                        <label for="bicConto" class="col-2 col-form-label">Bic Conto<span>*</span>:</label>
                        <div class="col-3">
                            <div class="input-group">
                                <input id="bicConto" class="form-control" [class.is-invalid]="bicConto.invalid && (form.submitted || (bicConto.dirty || bicConto.touched))" formControlName="bicConto" [readOnly]="!checkedbicConto.value || readonlyForm" toUppercase/>
                                <div *ngIf="bicConto.errors?.required && (form.submitted || (bicConto.dirty || bicConto.touched))" class="invalid-feedback">
                                    Campo obbligatorio
                                </div>
                                <div *ngIf="bicConto.errors?.syntax && (form.submitted || (bicConto.dirty || bicConto.touched))" class="invalid-feedback">
                                    Campo sintatticamente non valido
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <label for="checkedbicConto" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkedbicConto" type="checkbox" formControlName="checkedbicConto" (click)="manageCheckBox('bicConto')" [attr.disabled]="(verso.value === tipoVersoEnum.BA)?true:null"/>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="verso" class="col-2 col-form-label">Verso<span>*</span>:</label>
                        <div class="col-3">
                            <select *ngIf="checkedverso.value && !readonlyForm; else inputVerso" id="verso" class="form-control" [class.is-invalid]="verso.invalid && (form.submitted || (verso.dirty || verso.touched))" formControlName="verso">
                                <option [ngValue]="null">Seleziona</option>
                                <option *ngFor="let t of tipiVerso" [value]="t.codice">{{t.descrizione}}</option>
                            </select>
                            <div *ngIf="verso.errors?.required && (form.submitted || (verso.dirty || verso.touched))" class="invalid-feedback">
                                Campo obbligatorio
                            </div>
                            <ng-template #inputVerso>
                                <input class="form-control" [value]="getVersoValue()" [readOnly]="true"/>
                            </ng-template>
                        </div>
                        <div class="col-1">
                            <label for="checkedverso" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkedverso" type="checkbox" formControlName="checkedverso" (click)="manageCheckBox('verso')" [attr.disabled]="true"/>
                            </label>
                        </div>

                        <label for="descrizione" class="col-2 col-form-label">Descrizione:</label>
                        <div class="col-3">
                            <div class="input-group">
                                <input id="descrizione" class="form-control" [class.is-invalid]="descrizione.invalid && (descrizione.dirty || descrizione.touched)" formControlName="descrizione" maxlength="4000" [readOnly]="!checkeddescrizione.value || readonlyForm"/>
                            </div>
                        </div>
                        <div class="col-1">
                            <label for="checkeddescrizione" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkeddescrizione" type="checkbox" formControlName="checkeddescrizione" (click)="manageCheckBox('descrizione')"/>
                            </label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="dataInizioValidita" class="col-2 col-form-label">Data Inizio Validità:</label>
                        <div class="col-3">
                            <div class="input-group" *ngIf="(checkeddataInizioValidita.value && !readonlyForm); else inputdataInizioValidita">
                                <input id="dataInizioValidita" class="form-control" [class.is-invalid]="dataInizioValidita.invalid && (form.submitted || (dataInizioValidita.dirty || dataInizioValidita.touched))" placeholder="yyyy-mm-dd" formControlName="dataInizioValidita"  bdiDatepicker #datepickerDA="bdiDatepicker" maxlength="10" style="background-color: #ffffff !important" [minDate]="minDate"/>
                                <div *ngIf="!readonlyForm" class="input-group-append" (click)="datepickerDA.toggle()" style="cursor: pointer;">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                </div>
                                <div  *ngIf="!!dataInizioValidita.value && !readonlyForm"  class="input-group-append" (click)="reset('dataInizioValidita')" style="cursor: pointer;">
                                        <span class="input-group-text">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                </div>

                                <div *ngIf="dataInizioValidita.errors?.required && (form.submitted || (dataInizioValidita.dirty || dataInizioValidita.touched))" class="invalid-feedback">
                                    Campo obbligatorio
                                </div>
                                <div *ngIf="dataInizioValidita.errors?.dateformat && (form.submitted || (dataInizioValidita.dirty || dataInizioValidita.touched))" class="invalid-feedback">
                                    Campo non valido
                                </div>
                                <div *ngIf="dataInizioValidita.errors?.mindate && (form.submitted || (dataInizioValidita.dirty || dataInizioValidita.touched))" class="invalid-feedback">
                                    Data inferiore al limite minimo consentito (valore precedente di data inizio validità del record): {{formatterUtils.dateToString(minDate)}}
                                </div>
                            </div>
                        </div>
                        <ng-template #inputdataInizioValidita>
                            <input class="form-control" [value]="getDataInizioValiditaValue()" [readOnly]="true"/>
                        </ng-template>
                        <div class="col-1">
                            <label for="checkeddataInizioValidita" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkeddataInizioValidita" type="checkbox" formControlName="checkeddataInizioValidita" (click)="manageCheckBox('dataInizioValidita', 'date')"/>
                            </label>
                        </div>

                        <label for="dataFineValidita" class="col-2 col-form-label">Data Fine Validità:</label>
                        <div class="col-3">
                            <div class="input-group" *ngIf="(checkeddataFineValidita.value && !readonlyForm); else inputdataFineValidita">
                                <input id="dataFineValidita" class="form-control" [class.is-invalid]="dataFineValidita.invalid && (form.submitted || (dataFineValidita.dirty || dataFineValidita.touched))" placeholder="yyyy-mm-dd" formControlName="dataFineValidita"  bdiDatepicker #datepickerDC="bdiDatepicker" maxlength="10" style="background-color: #ffffff !important" [minDate]="minDate"/>
                                <div *ngIf="!readonlyForm" class="input-group-append" (click)="datepickerDC.toggle()" style="cursor: pointer;">
                                        <span class="input-group-text">
                                            <i class="fa fa-calendar"></i>
                                        </span>
                                </div>
                                <div  *ngIf="!!dataFineValidita.value && !readonlyForm"  class="input-group-append" (click)="reset('dataFineValidita')" style="cursor: pointer;">
                                        <span class="input-group-text">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <ng-template #inputdataFineValidita>
                            <input class="form-control" [value]="getDataFineValiditaValue()" [readOnly]="true"/>
                        </ng-template>
                        <div class="col-1">
                            <label for="checkeddataFineValidita" class="col-form-label">
                                <input *ngIf="!readonlyForm" id="checkeddataFineValidita" type="checkbox" formControlName="checkeddataFineValidita" [attr.disabled]="true"/>
                            </label>
                        </div>

                    </div>

                    <div class="alert alert-info" role="alert" >
                        <div [innerHTML]=utils.getModificaMessage()></div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-3">
                            <button routerLink="{{backUrl}}" [queryParams]="{back:true}" class="btn btn-block btn-primary" type="button">Indietro</button>
                        </div>
                        <div class="col-6"></div>

                        <div class="col-3">
                            <button class="btn btn-block btn-primary" type="submit" [disabled]="readonlyForm">Salva</button>
                        </div>

                    </div>
                </form>
            </ng-container>

            <ng-template #waiting>
                <gepa-spinning-loader></gepa-spinning-loader>
            </ng-template>

        </div>
    </div>
</div>
